# GD32VW55x SOC implementation

# Copyright (c) 2026 Jorge Guzman
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_GD32VW55X
	select RISCV
	select RISCV_PRIVILEGED
	select RISCV_HAS_CLIC
	select RISCV_SOC_HAS_GP_RELATIVE_ADDRESSING
	select RISCV_SOC_CONTEXT_SAVE
	select INCLUDE_RESET_VECTOR
	select GD32_HAS_AF_PINMUX
	select GD32_HAS_IRC_32K
	select CPU_HAS_FPU
	select XIP
	select SOC_EARLY_INIT_HOOK
